---
layout: default
title: Blog
---

<section class="bg-dark">
  <div class="text-center">
    <h1>Blog</h1>
  </div>
</section>

<div class="home">
<p>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <p style="padding-top:40px">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </p>
        <h2>
          <a class="post-content" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
   <div class="set-font">
      {% if post.content contains '<!--more-->' %}
          {{ post.content | split:'<!--more-->' | first }}
      {% else %}
          {{ post.content }}
      {% endif %}
    </div>
      </li>
    {% endfor %}
  </ul>
</p>

</div>
